* {
    margin: 0;
    padding: 0;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}

#text {
    padding-top: 5rem;
    padding-bottom: 10rem;
    text-align: center;
    margin: 5rem;
}

#buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10rem;
}
.my-button {
    margin: 2rem;
    padding: 5px;         
    background-color: lightblue;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 16px;      
    color: black;      
    cursor: pointer;
}