* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-around;

    background-color: aqua;
    height: 4rem;
}

.inventory {
    display: flex;
    align-items: center;

    padding: 0;
    list-style: none;
    width: 100%;
    background-color: #333;
}
.inventory-slot {
    margin-left: 2rem;
    border: 1px solid white;
    padding: 0.5rem;
}
.character-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    width: 50%;
    background-color: firebrick;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}
#text {
    padding-top: 5rem;
    padding-bottom: 10rem;
    text-align: center;
    margin: 5rem;
}

#buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10rem;
}
.my-button {
    margin: 2rem;
    padding: 5px;         
    background-color: lightblue;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 16px;      
    color: black;      
    cursor: pointer;
}
footer {
    /* background-color: #333; */
    position: relative;
}
.item {
    position: absolute;
    top: 100%;
    left: 20%;

    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    visibility: hidden;
}
.item.active {
    visibility: visible;
}